body {
    font-family: monospace;
}

#content {
	box-sizing: border-box;
}

.section {
	box-sizing: border-box;
	padding: 15px;
	width: 50%;
	height: auto;
	border-radius: 5px;
}

#preston {
	float: left;
}

#binh-minh {
	float: right;
}

#kminh {
	width: 100%;
	height: auto;
}