body {
    font-family: 'Poppins';
}

#introduction {
	padding: 10px;
}

#title {
	text-align: center;
	font-size: 30px;
}

#description {
	text-align: center;
	font-size: 18px;
}

#content {
	box-sizing: border-box;
	padding: 15px;
	height: auto;
	background-color: lightsteelblue;
	display: flex;
	justify-content: center;
	border-width: 0;
	border-radius: 5px;
	margin: 0 7px 0 7px;
}

footer {
	font-size: 16px;
	background-color: lightyellow;
    margin: 7px;
    border-radius: 5px;
}

#survey-form {
    padding: 15px;
    margin: 7px;
}

#name-input {
	margin-bottom: 15px;
}

#name {
    height: 30px;
    padding: 15px;
	border: 0;
    border-radius: 5px;
    width: 100%;
}

.input-area {
	background-color: rgba(128, 128, 128, 0.25);
}

.input-area::placeholder {
	color: black;
	opacity: 0.5;
}

#comments-text-area {
    min-height: 100px;
    padding: 15px;
    border: 1px solid #ced4da;
    width: 100%;
	border-radius: 5px;
	resize: none;
}

#submit-button {
    border: 1px solid #ced4da;
    background-color: white;
    border-radius: 5px;
    width: 80px;
	height: 40px;
	margin: 0 0 0 15px;
}

#form-content {
	display: flex;
}

#form-column-1 {
	display: flex;
	flex-direction: column;
	margin: 0 15px 0 0;
}

#form-column-2 {
	display: flex;
	flex-direction: column;
}

#comments {
	margin: 0 15px 15px 15px;
}

#radio-input {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

.section {
	box-sizing: border-box;
	padding: 15px;
	width: 50%;
	height: auto;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}

#preston {
	background-color: lightgreen;
}

#binh-minh {
	background-color: lightsalmon;
	margin: 0 15px 0 15px;
}

#kminh {
	background-color: lightslategray;
}

#content p {
	font-size: 16px;
}
